<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments :: head(~{::title})">
    <title>归档</title>
</head>

<body class="archives-bg">

<!--头部导航-->
<nav th:replace="_fragments :: menu(4)"></nav>
<div id="waypoint" class="ui container">
    <!--header-->
    <div class="ui top attached padded segment m-opacity">
        <div class="ui middle aligned two column grid">
            <div class="column">
                <h3 class="ui orange header">归档</h3>
            </div>
            <div class="right aligned column">
                共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${blogCount}"> 114 </h2> 篇博客
            </div>
        </div>
    </div>
    <div class="doc-container m-padded-tb-massivex m-opacity" id="doc-container">
        <section class="timeline">
            <ul>
                <li class="in-view" th:each="blog : ${blogs}">
                    <div>
                        <time th:text="${#dates.format(blog.createTime,'yyyy-MM-dd')}">2020/01/01</time>
                        <div class="scientist">
                            <a href="#" target="_blank" th:href="@{/blog/{id}(id=${blog.id})}">
                                <h3 class="state" style="text-align:center;font-size: 16px;color: #000;"
                                    th:text="${blog.title}">文章标题</h3>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>

    <!--置顶图标-->
    <div id="toolbar" class="m-padded-tb-large m-fixed m-right-bottom">
        <a href="#" class="ui teal icon button"><i class="chevron up icon"></i> </a>
    </div>


    <!--底部footer-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive m-opacity">

    </footer>

    <!--导入的script-->
    <th:block th:replace="_fragments :: script">

    </th:block>

    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('#toolbar').click(function () {
            $(window).scrollTo(0,500);
        });

        var waypoint = new Waypoint({
            element: document.getElementById('waypoint'),
            handler: function(direction) {
                if (direction == 'down') {
                    $('#toolbar').show(100);
                } else {
                    $('#toolbar').hide(500);
                }
                console.log('Scrolled to waypoint!  ' + direction);
            }
        })
    </script>
</body>
</html>